# Gemini key
AI_API_KEY="cole_sua_chave_do_google_ai_studio_aqui"

# email conf
EMAIL_SENDER="seu_email_de_teste@gmail.com"
# senha de 18 dígitos geradas para uso em app no gmail
EMAIL_PASSWORD="sua_senha_de_aplicativo_gerada_no_google"

EVALUATOR_REAL_EMAIL="seu_email_pessoal@gmail.com"

# o prompt deve ser colocado em um arquivo chamado prompt.txt